---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Lhero from "../components/Lhero/Lhero.astro";
import Aabout from "../components/Aabout/Aabout.astro";
import Spackages from "../components/Spackages/Spackages.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Broken Duck Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <Header />
    <Lhero />
    <Aabout />
    <Spackages />

    <Footer />


  </body>
</html>
