---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Lhero from "../components/Lhero/Lhero.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Broken Duck Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <Header />
    <Lhero />

    <Footer />


  </body>
</html>
