---
import "../styles/global.css";

import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Soverview from "../components/Soverview/Soverview.astro";
import Spackages from "../components/Spackages/Spackages.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About | Broken Duck Media</title>
    <!-- You can also include other meta tags, fonts, or favicons here -->
  </head>
<Header />

<main>
  <Spackages />
  <Soverview />
</main>

<Footer />
