---
import "./Header.css";
---

<header class="site-header">
  <div class="header-container">
    <!-- Left section: logo + brand + language -->
    <div class="left-group">
      <a href="/" class="logo-block">
        <img src="/assets/branding/logo.svg" alt="Broken Duck Studio Logo" class="logo-img" />
      </a>

      <span class="brand-name">Broken Duck Studio</span>
 <br></br>


    </div>

    <!-- Right section: navigation -->
    <div class="nav-right">
          <a href="/about">About</a>
      <a href="/membership">Membership</a>
      <a href="/resources">Resources</a>
      <a href="/login">Login</a>
    </div>
  </div>
</header>
